p{
    color: white;
}
#p1{
    color: tomato;
}
#p2{
    color: rgb(109, 109, 180);
}
/* #p3{
    color: rgba(192, 178, 34, 0.511);
} */
.p3 {
    color: aqua;
}
/* # means id and . means class */
/* CSS外部可以重复使用 */